.color-1 {
    color: #EFEFEF;
}

.bg-color-1 {
    background-color: #EFEFEF;
}

.color-2 {
    color: #CAEBF2
}

.bg-color-2 {
    background-color: #CAEBF2
}

.color-3 {
    color: #A9A9A9
}

.bg-color-3 {
    background-color: #A9A9A9
}

.color-4 {
    color: #FF3B3F
}

.bg-color-4 {
    background-color: #FF3B3F
}







